@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-base-white: #fcfdfb;
    --color-base-100: #e3e9db;
    --color-base-200: #c6cbc2;
    --color-primary: #4b5444;
    --color-dark: #141615;
  }

  body {
    @apply bg-background text-dark antialiased font-sans selection:bg-primary/20 selection:text-primary;
  }
}

@layer utilities {
  .glass {
    @apply bg-base-white/80 backdrop-blur-md border border-base-200 shadow-sm;
  }

  .glass-dark {
    @apply bg-dark/5 backdrop-blur-md border border-dark/5;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-dark transition-all duration-300 shadow-sm hover:shadow-md active:scale-95 px-6 py-3 rounded-xl font-medium tracking-wide;
  }

  .input-field {
    @apply w-full px-5 py-3 bg-base-white border border-base-200 rounded-xl text-dark placeholder-base-200/80 focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary transition-all;
  }
}